@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Cabin');


body {
	display: table;
	width: 100%;
	background: url('/static/images/fond_elephant.jpg') no-repeat center fixed;
	background-size: cover;
}

.image1, .image2 {
    margin-top: 10px;
}

.image_galerie {
    margin-top: 2%;
    max-width: 90%;
    max-height: 90%;
}

/* Container holding the image and the text */
.image1 {
    font-family: 'Lobster', Georgia, Times, serif;
    position: relative;
    text-align: center;
    font-size: 3.5vw;
    color: cyan;
}
#logo1 {
    position: absolute;
    top: 2px;
    left: 16px;
}

/* Centered text */
.titre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo2 {
    position: absolute;
    top: 2px;
    right: 16px;
}

/* Container holding the image and the text */
.image2 {
    font-family: 'Lobster', Georgia, Times, serif;
    position: relative;
    text-align: center;
    font-size: 20px;
    color: white;
}

/* Top left text */
.zone_liens_messages {

}

.button-group {
    margin-top: 2%;
}

/* barre de recherche */
.searchbar{
    margin-bottom: 2%;
    margin-top: 2%;
    height: 60px;
    background-color: green;
    border-radius: 30px;
    padding: 10px;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover{
    width: 420px;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 350px;
    caret-color:red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}

