@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Cabin');

body {
	display: table;
	width: 100%;
	background: url('/static/images/fond_elephant.jpg') no-repeat center fixed;
	background-size: cover;
}

.image1, .image2 {
    margin-top: 10px;
}

.image_galerie {
    margin-top: 2%;
    max-width: 90%;
    max-height: 90%;
}

/* Container holding the image and the text */
.image1 {
    font-family: 'Lobster', Georgia, Times, serif;
    position: relative;
    text-align: center;
    font-size: 3.5vw;
    color: cyan;
}
#logo1 {
    position: absolute;
    top: 2px;
    left: 16px;
}

/* Centered text */
.titre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo2 {
    position: absolute;
    top: 2px;
    right: 16px;
}

/* Container holding the image and the text */
.image2 {
    font-family: 'Lobster', Georgia, Times, serif;
    position: relative;
    text-align: center;
    font-size: 1.5vw;
    color: white;
}

/* Top left text */
.zone_liens_messages {
        margin-top: 20px;
}

.button-group {
    margin-top: 2%;
}

/* barre de recherche */
.searchbar{
    margin-bottom: 2%;
    margin-top: 2%;
    height: 60px;
    background-color: green;
    border-radius: 30px;
    padding: 10px;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover{
    width: 420px;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 350px;
    caret-color:red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}

/*              */
.social{width:150px;padding:0;margin:0;list-style:none;opacity:0;transform:translateY(-50%) translateX(-50%);position:absolute;top:60%;left:50%;z-index:1;transition:all .3s ease 0s}
.social{opacity:1;top:50%}
.social li{display:inline-block}
.social li a{color:#fff;background-color:green;font-size:16px;line-height:40px;text-align:center;height:40px;width:40px;margin:0 2px;display:block;position:relative;transition:all .3s ease-in-out}
.social li a:hover{color:#fff;background-color:blue}
.social li a:after, .social li a:before{content:attr(data-tip);color:#fff;background-color:blue;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.social li a:hover:after, .social li a:hover:before{opacity:1}

.product-discount-label, .product-new-label{color:#fff;background-color:#ef5777;font-size:12px;text-transform:uppercase;padding:2px 7px;display:block;position:absolute;top:10px;left:0}
.product-discount-label{background-color:#333;left:auto;right:0}
