<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> mon site marchand: MEMOIRE D'ELEPHANT </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='page_d_accueil.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid">
    <!-- titre -->
    <div class="row">
        <!-- partie gauche -->
        <div class="col-15 col-sm-9 col-lg-10">
            <div class="d-flex flex-column text-center height100">
                <div class="image1">
                    <img class=img-responsive src="{{ url_for('static', filename='images/jungle1.jpg') }}" alt="jungle1" style="width:100%;">
                    <p class="titre" > MEMOIRES D'ELEPHANT </p>
                </div>
            </div>
        </div>
        <!-- partie droite -->
        <div class="col-3 col-sm-3 col-lg-2">
            <div class="d-flex flex-column text-center height100">
                <div class="image2" style="width:100%">
                    <img class=img-responsive src="{{ url_for('static', filename='images/singe.jpg') }}" alt="singe" style="width:100%;">
                    <div class="zone_login">
                        <p> ZONE LOGIN </p>
                        <a href="{{ url_for('authentification') }}"> Cliquer pour continuer </a>
                        <p> panier </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- barre de recherche -->
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Search...">
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
            </div>
        </div>
    </div>
    <!-- onglets -->
    <nav class="nav nav-pills">
        <a class="nav-item nav-link active" href="#p1" data-toggle="tab">Onglet 1</a>
        <a class="nav-item nav-link" href="#p2" data-toggle="tab">Onglet 2</a>
        <a class="nav-item nav-link" href="#p3" data-toggle="tab">Onglet 3</a>
        <a class="nav-item nav-link" href="#p4" data-toggle="tab">Onglet 4</a>
        <a class="nav-item nav-link" href="#p5" data-toggle="tab">Onglet 5</a>
        <a class="nav-item nav-link" href="#p6" data-toggle="tab">Onglet 6</a>
    </nav>
    <!-- onglets -->
    <div class="tab-content">
        <div class="tab-pane fade show active" id="p1">
            <div class="row">
                <!-- Gallery Item 1 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="d-flex flex-column text-center border height100" style="margin-top: 10px;">
                        <div>
                            <img class="image_galerie" src="{{ url_for('static', filename='images/2gb_sandisk_sdcard.png') }}" width="200"
                                 height="250" alt="1111"/>
                        </div>
                        <h2>1111</h2>
                        <p>Info..</p>
                    </div>
                </div>
                <!-- Gallery Item 2 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="d-flex flex-column text-center border height100" style="margin-top: 10px;">
                        <div>
                            <img class="image_galerie" src="{{ url_for('static', filename='images/16gb_sandisk_sdhc_card.png') }}" width="200"
                                 height="250" alt="2222"/>
                        </div>
                        <h2>2222</h2>
                        <p>Info..</p>
                    </div>
                </div>
                <!-- Gallery Item 3 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="d-flex flex-column text-center border height100" style="margin-top: 10px;">
                        <div>
                            <img class="image_galerie" src="{{ url_for('static', filename='images/32gb_sandisk_sdhc.jpg') }}" width="200" height="250"
                                 alt="3333"/>
                        </div>
                        <h2>3333</h2>
                        <p>Info..</p>
                    </div>
                </div>
                <!-- Gallery Item 4 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="d-flex flex-column text-center border height100" style="margin-top: 10px;">
                        <div>
                            <img class="image_galerie" src="{{ url_for('static', filename='images/64gb_noname_sdxc.jpg') }}" width="200" height="250"
                                 alt="4444"/>
                        </div>
                        <h2>4444</h2>
                        <p>Info..</p>
                    </div>
                </div>
                <!-- Gallery Item 5 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="d-flex flex-column text-center border height100" style="margin-top: 10px;">
                        <div>
                            <img class="image_galerie" src="{{ url_for('static', filename='images/128gb_sandisk_extreme.png') }}" width="200"
                                 height="250" alt="5555"/>
                        </div>
                        <h2>5555</h2>
                        <p>Info..</p>
                    </div>
                </div>
                <!-- Gallery Item 6 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="d-flex flex-column text-center border height100" style="margin-top: 10px;">
                        <div>
                            <img class="image_galerie" src="{{ url_for('static', filename='images/128gb_sandisk_sdxc_extremepro.jpg') }}" width="200"
                                 height="250" alt="6666"/>
                        </div>
                        <h2>6666</h2>
                        <p>Info..</p>
                    </div>
                </div>
            </div>
        </div>
    <div class="tab-pane" id="p2">Panneau 2</div>
    <div class="tab-pane" id="p3">Panneau 3</div>
    <div class="tab-pane" id="p4">Panneau 4</div>
    <div class="tab-pane" id="p5">Panneau 5</div>
    <div class="tab-pane" id="p6">Panneau 6</div>

    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>