{% extends "base_commune.html" %}

{% block titre_page %}page fiche produit détails{% endblock %}
{% block body %}
<div class="container">
    {% for produit in liste_produit %}
    <div class='col-12 col-sm-6 col-md-4 col-lg-3'>
        <div class='d-flex flex-column text-center border height100' style='margin-top: 10px; background-color: rgb(0, 128, 0, 0.6); border-radius: 15px;'>
            <div>
                <img class='image_galerie' src='./static/{{produit[2]}}' width='auto' height='250' alt='{{produit[1]}}'/>


        {% if produit[5] != 0 %}
        <span class='product-discount-label'>-{{produit[5]}}%</span></div>
        {% elif produit[6] == 1 %}
        <span class='product-discount-label'>NOUVEAUTE</span></div>
        {% else %}
        <span class='product-discount-label'></span></div>
        {% endif %}
        <h2>{{produit[0]}}<i class='fa fa-euro-sign'></i></h2><p style='height: 125px;'>{{produit[1]}}</p>
            </div></div>



    {% endfor %}
</div>




{% endblock %}