<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> mon site marchand: MEMOIRE D'ELEPHANT </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='page_d_accueil.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <!-- titre -->
    <div class="row">
        <!-- partie gauche/haut -->
        <div class="col-12 col-sm-9 col-lg-10">
            <div class="d-flex flex-column text-center height100">
                <div class="image1">
                    <img class=img-responsive src="{{ url_for('static', filename='images/jungle1.jpg') }}" alt="jungle1"
                         style="width:100%;">
                    <img class=img-responsive id="logo1"
                         src="{{ url_for('static', filename='images/3223523-03a9f4.svg') }}" alt="logo1"
                         style="width:20%;">
                    <p class="titre"> MEMOIRES D'ELEPHANT </p>
                    <img class=img-responsive id="logo2"
                         src="{{ url_for('static', filename='images/3223523-03a9f4.svg') }}" alt="logo2"
                         style="width:20%;">
                </div>
            </div>
        </div>
        <!-- partie droite/haut -->
        <div class="col-12 col-sm-8 col-lg-2">

            <div class="d-flex flex-column text-center height100">
                <div class="image2">
                    <div class="zone_liens_messages">
                        {% if message1 == "bienvenue" %}
                        <div class="button-group">
                            <a class="btn btn-large btn-success" href="#">
                            <i class="fas fa-thumbs-up"></i> {{ message2 }} </a>
                        </div>
                        <div class="button-group">
                            <a class="btn btn-large btn-info" href="{{ url_for('page_panier') }}">
                            <i class="fas fa-shopping-cart"></i> mon panier <span class="badge badge-pill badge-secondary ml-2">
                                {{ nombre_produits_dans_panier }} </span></a>
                        </div>
                        <div class="button-group">
                            <a class="btn btn-large btn-danger" href="{{ url_for('deconnexion') }}">
                            <i class="fas fa-sign-out-alt"></i> vous déconnecter </a>
                        </div>
                        {% else %}
                        <div class="button-group">
                            <a class="btn btn-large btn-success" href="{{ url_for('page_d_authentification') }}">
                            <i class="fas fa-sign-in-alt"></i> mon compte </a>
                        </div>
                        <div class="button-group">
                            <a class="btn btn-large btn-info" href="{{ url_for('page_creation_compte_utilisateur') }}">
                            <i class="fas fa-sign-in-alt"></i> créer compte </a>
                        </div>
                        <div class="button-group">
                            <a class="btn btn-large btn-danger disabled" href="#">
                            <i class="fas fa-ban"></i> mon panier <span class="badge badge-pill badge-secondary ml-2"> 0 </span></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- barre de recherche -->
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="recherche par marque et/ou prix">
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
            </div>
        </div>
    </div>
    <!-- onglets -->
    <nav class="nav nav-pills" style="font-family: 'Lobster', Georgia, Times, serif;">
        {% for i in range(0, lenc) %}
        {% if i == 0 %}
        <script language="JavaScript">
        document.write("<a class='nav-item nav-link active' href='#p{{ i }}' data-toggle='tab'>{{ liste_categories[i] }}</a>");
        </script>
        {% else %}
        <script language="JavaScript">
        document.write("<a class='nav-item nav-link' href='#p{{ i }}' data-toggle='tab'>{{ liste_categories[i] }}</a>");
        </script>
        {% endif %}
        {% endfor %}
    </nav>
    <!-- contenu des onglets -->
    <div class="tab-content">
        {% for key, value in liste_produits.items() %}
        {% if loop.index-1 == 0 %}
        <div class='tab-pane fade show active' id='p{{ loop.index-1 }}'>
            <div class='row'>
        {% else %}
        <script language="JavaScript">
        document.write("<div class='tab-pane fade' id='p{{ loop.index-1 }}'><div class='row'>");</script>
        {% endif %}
        {% for produit in value %}
            <div class='col-12 col-sm-6 col-md-4 col-lg-3'>
                <div class='d-flex flex-column text-center border height100' style='margin-top: 10px; background-color: rgb(0, 128, 0, 0.6); border-radius: 15px;'>
                    <div>
                        <img class='image_galerie' src='./static/{{produit[2]}}' width='auto' height='250' alt='{{produit[1]}}'/>
                        <ul class='social'>
                            <li>
                                <a href="{{ url_for( 'page_fiche_produit', numero_produit=produit[7] ) }}" data-tip='voir la fiche du produit'>
                                    <i class='fa fa-search'></i>
                                </a>
                            </li>
                            <li>
                                {% if message == "" %}
                                <a href="#" data-tip='vous devez être connecté' style="background-color:red;"><i class='fa fa-shopping-cart'></i></a>
                                {% else %}
                                <a href="{{ url_for('page_fiche_produit/ajouter_au_panier', numero_produit=produit[7]) }}"
                                   data-tip='ajouter au panier'><i class='fa fa-shopping-cart'></i></a>
                                {% endif %}
                            </li>
                        </ul>
        {% if produit[3] == 1 %}
        <span class='product-new-label'>EN STOCK</span>
        {% elif produit[4] == 1 %}
        <span class='product-new-label'>REAPPROVIONNEMENT</span>
        {% endif %}
        {% if produit[5] != 0 %}
        <span class='product-discount-label'>-{{produit[5]}}%</span></div>
        {% elif produit[6] == 1 %}
        <span class='product-discount-label'>NOUVEAUTE</span></div>
        {% else %}
        <span class='product-discount-label'></span></div>
        {% endif %}
        <h2>{{produit[0]}}<i class='fa fa-euro-sign'></i></h2><p style='height: 125px;'>{{produit[1]}}</p>
            </div></div>
        {% endfor %}
        </div></div>
        {% endfor %}
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>