{% extends "base_commune.html" %}

{% block titre_page %}page fiche produit détails{% endblock %}
{% block body %}
<div class="row">
    {% for key, produit in liste_produits.items() %}
        <div class='col-12 col-sm-6 col-md-4 col-lg-3'>
            <div class='d-flex flex-column text-center border height100' style='margin-top: 10px; background-color: rgb(0, 128, 0, 0.6); border-radius: 15px;'>
                <div>
                    <img class='image_galerie' src='./static/{{produit[4]}}' width='auto' height='250' alt='{{produit[1]}}'/>
                    <h2>{{produit[1]}}<i class='fa fa-euro-sign'></i></h2><p style='height: 125px;'>{{produit[3]}}</p>
                    <!-- bouton pour suppromer du panier -->
                </div>
            </div>
        </div>
    {% endfor %}
    <!-- zone pour valider et paiement -->
</div>
{% endblock %}